<h1>Having trouble accessing your account?</h1>
<p>We recieved a password reset request for your account on counselingbooktags.com</p>
<p>If this request came from you, you can follow <a href="<%= password_reset_url(token: @user.reset_password_token) %>">this link</a> to reset your password.</p>
