<h1>Welcome to Counseling Book Tags, <%= @user.name %></h1>
<p>You have successfully signed up for counselingbooktags.com</p>
<p>To verify your account, please follow <a href="<%= email_verify_url(token: @user.email_verification_token) %>">this link</a>.
