<div class="modal tag-modal" data-target="tag-modal.modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"></p>
      <span class="icon close-tag-modal" data-action="click->tag-modal#close">
        <i class="fas fa-lg fa-times"></i>
      </span>
    </header>
    <section class="modal-card-body">
      <%= form_with(model: @tag, url: tags_path) do |f| %>
        <div class="field">
          <label class="label">Add new tags seperated by commas</label>
          <p class="control has-icons-left">
            <input class="input" type="text" placeholder="e.g Personal Growth, Communication" name="tag[text]">
            <span class="icon is-small is-left">
              <i class="fas fa-tag"></i>
            </span>
          </p>
          <%= f.hidden_field "book[source]", value: book[:source] %>
          <%= f.hidden_field "book[source_id]", value: book[:source_id] %>
          <div class="field create-tag-button">
            <div class="control">
              <%= submit_tag "Create", name: "commit", value: "Create", class: "button is-info" %>
            </div>
          </div>
        </div>
      <% end %>
    </section>
    <footer class="modal-card-foot">
    </footer>
  </div>
</div>
