<div class="books">
  <% if @searched_tags %>
    <%= render partial: "tags", locals: { searched_tags: @searched_tags, other_tags: @other_tags } %>
  <% end %>
  <div class="book-results">
    <% cache(@books) do %>
      <%= render partial: "book", collection: @books %>
    <% end %>
  </div>
</div>

<% if @total_pages && @total_pages > 1 %>
  <%= render partial: "pagination", locals: { current_page: @current_page, total_pages: @total_pages } %>
<% end %>
