html {
  // Bulma `$white-bis`
  // background-color: hsl(0, 0%, 98%);
  // Bulma `$white-ter`
  background-color: hsl(0, 0%, 96%);
  // Bulma `$grey-dark`
  color: hsl(0, 0%, 29%);
}

// Override Bulma default hover state on hamburger menu button
.navbar-burger:hover {
  background-color: #FFF;
}

// Override Bulma menu shadow default for mobile screen
@media screen and (max-width: 1023px) {
  .navbar-menu {
    // box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1); <- default
    box-shadow: 0 22px 22px rgba(10, 10, 10, 0.07)
  }
}

.nav-link {
  // Bulma `$grey-dark`
  color: hsl(0, 0%, 29%) !important;
}

.navbar-brand {
  display: flex;
  align-items: center;
  // #site-logo {
  //   margin: 0px 0px 0px 14px;
  //   height: 40px;
  // }
  .icon {
    margin-right: -7px;
    margin-left: 6px;
    margin-top: -4px;
  }
  #site-title{
    font-size: 20px;
    padding-right: 14px;
    margin-bottom: -2px;
    border-right: 0.5px solid hsl(0, 0%, 92%);
    &:hover {
      cursor: default;
    }
  }
}
