.all-tags {
  margin: 18px 12px;
  h2.tags-title {
    font-size: 22px;
    padding-top: 5px;
    margin-left: 9px;
    margin-bottom: 14px;
    font-weight: 400;
    .icon {
      margin-right: 8px;
      opacity: 0.95;
    }
  }
  .tag {
    margin: 5px 3px;
  }
}
